.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --mainColor: #f57224;
  --whiteColor: #fff;
  --blackColor : #000;
  --lightdark : #222;

}

body{

  font-family: 'lato', sans-serif;
  background:#e2e2e2;
}

nav{

  width:100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px ;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  display: flex;
  position: absolute;
  top:0;
}
.left a{

  font-weight: 700;
  color: var(--mainColor);
  font-size: 21px;
}

.left{
  width: 50%;
  text-align: left;

}
.right{
  width: 50%;
  text-align: right;
}
 nav ul{
   list-style: none;
 }
 nav ul a{
   text-decoration: none;
 }
 .shoppingCart i{
   display:inline-block;
   font-size: 25px;
   color: var(--lightdark);
   margin-right: 15px;
 }

 .cartCount{
   display: inline-block;
   width: 35px;
   height: 35px;
   background: var(--mainColor);
   color: var(--whiteColor);
   border-radius: 50%;
   line-height: 35px;
   text-align: center;
   font-size: 12px;
 }

 .container{
   width: 100%;
   padding: 0 100px;
   

 }

 header{
  width:100%;
  height:250px;
  background: url("assests/b.jpg");
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
 
  color:#fff;
}

 .headertext{
   background:rgba(0,0,0,.5);
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .headertext h1{
    font-size: 35px;
     position: inherit;
 }

 .headertext p{
   margin-top: 7px;
   position: inherit;
 }
 

 .cards{
   display:flex;
   padding: 15px;
   box-shadow: #222;

 }
 .cards:hover{
  cursor: pointer;
  color:black;
  
 }

 .text{
   margin-left: 3px;
 }
  footer{
    background-color:aliceblue;
  }
  .f{
    text-align: center;
    padding: 30px;
  }
 .bottom{
   background-color: #282c34;
   color: #fff;
   text-align: center;
   padding: 20px;
 }

 
 span:hover{
   cursor: pointer;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
 }
 
 .notfound{
   margin-top:100px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   background-color: #e2e2e2;
 }
 

 .cart-container{
   text-align: center;
 }
 .card-footer{
   background-color:green;
   color: #fff;
 }
 .card-footer:hover{
   background-color:blue;
   color: #fff;
   text-decoration: none;
 }

 .center{
   text-align: center;
   font-weight: bold;
   font-family:Arial, Helvetica, sans-serif ;
 }
 .cards:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.card-footer-r{
  background-color: red;
  color:#fff;
}